<app-header></app-header>

<div class="columns is-centered ">
  <div class="column is-one-third-desktop is-narrow auth-form-space-margin">
      <h1 class="title">Login In</h1>

  <form (ngSubmit)="onLoginFormSubmit(f)" #f="ngForm">

    <div class="field">
      <div class="control has-icons-left">
        <input type="email" id="email" name="email" ngModel class="input" placeholder="Email">
        <span class="icon is-small is-left"><i class="fa fa-envelope"></i></span>
      </div>
    </div>

    <div class="field">
      <div class="control has-icons-left">
        <input type="password" id="password" name="password" ngModel class="input" placeholder="Password">
        <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
      </div>
    </div>

    <div class="field">

      <div class="control">
        <button class="button is-primary" type="submit" [disabled]="!f.valid" [class.is-loading]="formLoading">Log In</button>
      </div>
    </div>

  </form>
</div>
</div>
