<div class="content has-text-centered loading" *ngIf="sources.length == 0">
  <img src="/assets/loading.gif"  >
</div>
<div *ngIf="sources.length">
<input (keyup)="searchEntered()">
<table class="table">
    
  <thead>
    <tr>
      <th *ngFor="let column of columns" (click)="sortColumn(column)">
        {{ column }}
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="card" *ngFor="let source of sources">
      <td> {{ source.name }} </td>
      <td> {{ source.description }} </td>
      <td> {{ source.category | titlecase }} </td>
      <td> {{ source.country | uppercase }} </td>
      <td> 
        <a class="button">
          <div class="icon"><i class="fa fa-plus"></i></div>
        </a>
      </td>
    </tr>
  </tbody>
</table>
</div>