.columns {
  min-height: 400px;
}
@media only screen and (max-width: 790px) {
  .mobile-hide{ display: none !important; }
}

.sidebar {
  margin-top: 2em;
}

.home-view {
  margin-right: 20px;
}

.clickable-article {
  cursor: pointer
}
/* 
.author {

} */

.date {
  color: #888;
}

.sideNavBar {
  width: 300px;
}

.mat-drawer-container {
  background: white;
}

mat-sidenav-container {
  height: 100%
}

html, body, material-app, mat-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}
.articles-title {
  margin: 0 0 1em 1em;
}