<!-- <nav class="panel">
  <p class="panel-heading">
    New Subscription
  </p>
  <div class="panel-block">
    <p class="control has-icons-left">
      <input type="text" class="input" (keyup)="searchSources($event.target.value)" placeholder="Search">
      <span class="icon is-small is-left">
        <i class="fa fa-search"></i>
      </span>
    </p>
  </div>
  <a class="panel-block" *ngFor="let result of searchResults" (click)="searchResultClicked(result)">
      {{ result.name }}

  </a>

  <p class="panel-heading">
    Subscriptions
  </p>
  <a class="panel-block has-icons-right" *ngFor="let sub of subscriptions" (click)="subscriptionClicked(sub)">
    <span class="panel-icon">
      <i class="fa fa-book"></i>
    </span>
    {{ sub.name }}
  </a>
</nav>
<button mat-button>Click me!</button> -->

<div>
  <mat-list>
    <h3 mat-subheader>Add New</h3>
    
    <mat-list-item>
      <mat-form-field>
      <input matInput placeholder="Search" (keyup)="searchSources($event.target.value)">
    </mat-form-field>
    </mat-list-item>
</mat-list>
<mat-nav-list>
    <h3 mat-subheader>Subscriptions</h3>
    <mat-list-item *ngFor="let sub of subscriptions"  (click)="subscriptionClicked($event, sub)" >
        <mat-icon matListIcon>collections</mat-icon>
        
      <span [class.active]="sub.active">
        {{ sub.name }}
      </span>
    </mat-list-item>
    
  </mat-nav-list>
  
</div>
