<nav class="sidenav" [clr-nav-level]="1">
  <section class="sidenav-content">

    <section class="nav-group">
    <ul class="nav-list">
      <li>
        <input id="searchNews" type="text" placeholder="Search for stories" (keyup.enter)="searchArticles($event.target.value)">
      </li>
    </ul>
    </section>
    <section class="nav-group">
      <ul class="nav-list">
        <li>
          <a class="nav-link" routerLink="/news" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            Top Stories
          </a>
        </li>
      </ul>
      </section>
    <section class="nav-group collapsible">
      <input id="subs" type="checkbox">
        
      <label for="subs">Subscriptions</label>
      <ul class="nav-list">
        <li *ngFor="let sub of subscriptions">
          <!-- <a [class.active]="sub.active" class="nav-link" (click)="subscriptionClicked($event, sub)"> -->
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/news', sub.sourceId]">
                {{ sub.name }}
              </a>
        </li>
      </ul>
    </section>
    <section class="nav-group collapsible">
      <input id="add" type="checkbox">
      <ul class="nav-list">
        <li>
          <a routerLink="/sources" class="nav-link">Add More</a>
        </li>
      </ul>
    </section>
  </section>
</nav>
