<div class="columns is-centered ">
  <div class="column is-one-third-desktop is-narrow auth-form-space-margin">
    <h1 class="title">Sign Up</h1>

    <form (ngSubmit)="onSignUpFormSubmit(f)" #f="ngForm">

      <div class="field">
        <div class="control has-icons-left">
          <input type="email" id="email" name="email" ngModel class="input" placeholder="EMail">
          <span class="icon is-small is-left"><i class="fa fa-envelope"></i></span>
        </div>
      </div>

      <div class="field">
        <div class="control has-icons-left">
          <input type="password" id="password" name="password" ngModel class="input" placeholder="Password">
          <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
        </div>
      </div>
      <div class="field">
        <div class="control has-icons-left">
          <input type="password" id="confirm" name="confirm" ngModel class="input" placeholder="Confirm Password">
          <span class="icon is-small is-left"><i class="fa fa-check"></i></span>
        </div>
      </div>

      <div class="field">

        <div class="control">
          <button class="button is-primary" type="submit" [disabled]="!f.valid">Sign In</button>
        </div>
      </div>

    </form>
  </div>
</div>
