<!-- 
<div *ngIf="selectedSubscription">
  <h1 class="mat-headline">
    <a [attr.href]="selectedSubscription.url" target="_blank">
            {{ selectedSubscription.name }}
            </a>
  </h1>
  <div>
    <mat-grid-list cols="3" rowHeight="250px" gutterSize="10px">
     
      <app-article-item-card *ngFor="let articleCard of articles" [article]="articleCard" [fxFlex.lg]="articleCard.scale" [fxFlex.lt-lg]="articleCard.scale"
      fxFlex.xs="90" fxFlexOffset="10px"></app-article-item-card>
    </mat-grid-list>
  </div>
</div> -->
<!-- 
<div *ngIf="selectedSubscription">
  <h1 class="mat-headline">
    <a [attr.href]="selectedSubscription.url" target="_blank">
              {{ selectedSubscription.name }}
              </a>
  </h1>


  <mat-grid-list cols="3" rowHeight="3:2" gutterSize="10px">
    <mat-grid-tile *ngFor="let article of articles">
      <img *ngIf="article.urlToImage" [src]="article.urlToImage" (click)="articleClicked(article)">
      <img *ngIf="!article.urlToImage" src="/assets/news.jpg">
      <mat-grid-tile-footer>
        <h2 matLine class="mat-h2">{{article.title}}</h2>
        <span class="mat-subheading-1" matLine>{{article.publishedAt | date: 'short'}}</span>
        <button mat-icon-button>
                <mat-icon>favorite</mat-icon>
              </button>
      </mat-grid-tile-footer>
    </mat-grid-tile>

  </mat-grid-list>
</div>
<div *ngIf="!selectedSubscription" fxLayout="column" fxLayoutAlign="center center">
  <h1 fxFlex="33" class="mat-headline">Select Subscription</h1>
</div> -->
<!-- <div class="row" *ngIf="selectedSubscription">
  <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let article of articles"> -->
<!-- <div class="card-columns">
  <div class="card clickable" *ngFor="let article of articles">
    <div class="card-img" (click)="articleClicked(article)">
      <img *ngIf="article.urlToImage" [src]="article.urlToImage">
      <img *ngIf="!article.urlToImage" src="/assets/news.jpg">
    </div>
    <div class="card-block" (click)="articleClicked(article)">
      <div class="card-title">
        {{article.title}}
      </div>
      <div class="card-text">
        {{ article.description }}
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-sm btn-link btn-icon">
                <clr-icon shape="share"></clr-icon>                
            </button>
    </div>
  </div>
</div> -->

<div [class.card-columns]="cardColumns > 1" [class.card-columns-2]="cardColumns === 2" [class.card-columns-4]="cardColumns === 4">
  <app-article-list-item *ngFor="let articleEl of articles" [article]="articleEl"></app-article-list-item>
</div>


<div class="page-spinner" *ngIf="articles.length == 0">
  <span class="spinner spinner-lg">
    Loading...
  </span>
</div>